header{
    background-color: $gris;
        ul li{
            font-size: 14px;
            margin: 0px 15px;
        }
        ul li:hover{
            transform: scale(1.2);
            transition: all 1s;
        }
}

.hymImage{
    width: 50vw;
    margin: 50px;
        &:hover{
            transform: scale(1.05);
            transition: all 1s;
        }
}

.remera {
    margin: $margen;
    height: 600px;
    width: 400px;
        &:hover{
            transform: scale(1.2);
            transition: all 1s;
                div{animation: animacion 1s;
                visibility: visible;
                }
        }
}

@keyframes animacion{
    0%{
        color: rgb(182, 182, 182);
    }
    25%{
        color: rgb(126, 126, 126)
    }
    50%{
        color: rgb(75, 75, 75);
    }
    75%{
        color: black;
    }
    
}

.pantalon{
    margin: $margen;
    height: 600px;
    width: 400px;
        &:hover{
            transform: scale(1.2);
            transition: all 1s;
                div{animation: animacion 1s;
                visibility: visible;
                }
        }
}