h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 20px 200px 50px 200px;
}

header ul li:hover{
    transform: scale(1.2);
    transition: all 1s;
}

.info{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.hymImage{
    height: 500px;
    display: block;
    margin: auto;
    padding: 50px;
}

.hymImage:hover{
    transform: scale(1.2);
    transition: all 1s;
}

.historia{
    margin: 10px;
}

.remera {
    margin: 10px 50px;
    height: 600px;
    width: 400px;
}

.remeras{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.remera:hover{
    transform: scale(1.2);
    transition: all 1s;
}

.pantalon{
    margin: 10px 50px;
    height: 600px;
    width: 400px;
}

.pantalones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pantalon:hover{
    transform: scale(1.2);
    transition: all 1s;
}

.contacto{
    text-align: center;
}

footer{
    background-color: rgb(238, 238, 238);
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

section{
    height: calc(100vh -100px);
}

header{
    background-color: rgb(238, 238, 238);
}

